<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><Change Recipe</title>
  </head>
  <body>
    <h1>Update Recipe</h1>
    <form action="/recipes/<%= @recipe.id%>" method="post">
      <input id="hidden" type="hidden" name="_method" value="patch">
      <label>Name: <input type="text" name="name" value="<%= @recipe.name%>"></label>
      <label>Ingredients: <input type="text" name="ingredients" value="<%= @recipe.ingredients%>"></label>
      <label>Cooking time: <input type="text" name="cook_time" value="<%= @recipe.cook_time%>"></label>
      <input type="submit" id="submit" value="Update">

    </form>
  </body>
</html>
