<form action="/recipes/<%=@recipe.id%>" method="post">
  <input id="hidden" type="hidden" name="_method" value="patch">

  <label>Name:
    <input id="name" type="text" name="recipe[name]" value="<%= @recipe.name %>">
  </label><br>

  <label>Ingredients:
      <input id="ingredients" type="text" name="recipe[ingredients]" value="<%= @recipe.ingredients %>">
  </label><br>

  <label>Cook Time:
    <input id="cook_time" type="text" name="recipe[cook_time]" values="<%= @recipe.cook_time %>">
   </label><br>

  <input id="submit" type="submit">
</form>
