<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form class="" action="/recipes" method="post">
      <label>Name: <input type="text" name="name" value=""></label>
      <label>Ingredients: <input type="text" name="ingredients" value=""></label>
      <label>Cooking time: <input type="text" name="cook_time" value=""></label>
      <input type="submit" id="submit">

    </form>
  </body>
</html>
