
<h1>Create a recipe!</h1>
<form method="POST" action="/recipes">
  <label for="name">Enter recipe name:</label>
  <input type="text" name="name" id="name">
  <label for="ingredients">Enter recipe ingredients:</label>
  <input type="text" name="ingredients" id="ingredients">
  <label type="text">Enter cook time: <input type="text" name="cook_time"></input>
  <input type="submit" value="Submit" id="submit">
</form>
